<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p style="background-color: #cfc">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= yield %>
 
<% if session[:current_user_id] != nil %>
<%= link_to "Logout", logout_path %>
<% end %>
</body>
</html>
